USE [master]
GO
/****** Object:  Database [DeviceManagement]    Script Date: 11/7/2020 10:09:08 PM ******/
CREATE DATABASE [DeviceManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeviceManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DeviceManagement.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DeviceManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DeviceManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeviceManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeviceManagement]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[statusId] [int] NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDevice]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDevice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](300) NULL,
	[categoryId] [int] NULL,
	[image] [image] NULL,
	[boughtDate] [date] NULL,
	[warrantyDate] [date] NULL,
	[roomId] [int] NULL,
	[statusId] [int] NOT NULL,
 CONSTRAINT [PK_tblDevice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRequest]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[requestDate] [date] NOT NULL,
	[requestDescription] [nvarchar](300) NULL,
	[startDate] [date] NULL,
	[finishDate] [date] NULL,
	[repairDescription] [nvarchar](300) NULL,
	[userId] [int] NOT NULL,
	[deviceId] [int] NOT NULL,
	[workerId] [int] NULL,
	[statusId] [int] NOT NULL,
 CONSTRAINT [PK_tblRequest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRoom]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[statusId] [int] NOT NULL,
 CONSTRAINT [PK_tblRoom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[roleId] [int] NOT NULL,
	[roomId] [int] NULL,
	[statusId] [int] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([id], [name], [statusId]) VALUES (1, N'A', 11)
INSERT [dbo].[tblCategory] ([id], [name], [statusId]) VALUES (3, N'B', 11)
INSERT [dbo].[tblCategory] ([id], [name], [statusId]) VALUES (4, N'C', 12)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
SET IDENTITY_INSERT [dbo].[tblDevice] ON 

INSERT [dbo].[tblDevice] ([id], [name], [description], [categoryId], [image], [boughtDate], [warrantyDate], [roomId], [statusId]) VALUES (2, N'Laptop', NULL, NULL, NULL, CAST(N'2020-10-20' AS Date), CAST(N'2021-10-20' AS Date), 2, 4)
INSERT [dbo].[tblDevice] ([id], [name], [description], [categoryId], [image], [boughtDate], [warrantyDate], [roomId], [statusId]) VALUES (3, N'Laptop 1', NULL, NULL, NULL, CAST(N'2020-10-20' AS Date), CAST(N'2021-10-20' AS Date), 2, 3)
SET IDENTITY_INSERT [dbo].[tblDevice] OFF
SET IDENTITY_INSERT [dbo].[tblRequest] ON 

INSERT [dbo].[tblRequest] ([id], [requestDate], [requestDescription], [startDate], [finishDate], [repairDescription], [userId], [deviceId], [workerId], [statusId]) VALUES (1, CAST(N'2020-11-03' AS Date), N'Broken', CAST(N'2020-11-03' AS Date), CAST(N'2020-11-03' AS Date), N'Fixed', 4, 1, 3, 8)
INSERT [dbo].[tblRequest] ([id], [requestDate], [requestDescription], [startDate], [finishDate], [repairDescription], [userId], [deviceId], [workerId], [statusId]) VALUES (2, CAST(N'2020-11-03' AS Date), N'Broken', CAST(N'2020-11-03' AS Date), CAST(N'2020-11-03' AS Date), N'Fixed', 4, 1, 3, 8)
INSERT [dbo].[tblRequest] ([id], [requestDate], [requestDescription], [startDate], [finishDate], [repairDescription], [userId], [deviceId], [workerId], [statusId]) VALUES (3, CAST(N'2020-11-03' AS Date), NULL, CAST(N'2020-11-03' AS Date), CAST(N'2020-11-03' AS Date), N'Fixed at 3:11', 4, 2, 3, 8)
SET IDENTITY_INSERT [dbo].[tblRequest] OFF
SET IDENTITY_INSERT [dbo].[tblRole] ON 

INSERT [dbo].[tblRole] ([id], [name]) VALUES (1, N'ADMIN')
INSERT [dbo].[tblRole] ([id], [name]) VALUES (2, N'WORKER')
INSERT [dbo].[tblRole] ([id], [name]) VALUES (3, N'USER')
SET IDENTITY_INSERT [dbo].[tblRole] OFF
SET IDENTITY_INSERT [dbo].[tblRoom] ON 

INSERT [dbo].[tblRoom] ([id], [name], [statusId]) VALUES (1, N'Room 1', 9)
INSERT [dbo].[tblRoom] ([id], [name], [statusId]) VALUES (2, N'Room 2', 9)
INSERT [dbo].[tblRoom] ([id], [name], [statusId]) VALUES (3, N'Room 3', 9)
SET IDENTITY_INSERT [dbo].[tblRoom] OFF
SET IDENTITY_INSERT [dbo].[tblStatus] ON 

INSERT [dbo].[tblStatus] ([id], [name], [description]) VALUES (1, N'USER_ACTIVE', N'Active')
INSERT [dbo].[tblStatus] ([id], [name], [description]) VALUES (2, N'USER_INACTIVE', N'Inactive')
INSERT [dbo].[tblStatus] ([id], [name], [description]) VALUES (3, N'DEVICE_ACTIVE', N'Active')
SET IDENTITY_INSERT [dbo].[tblStatus] OFF
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([id], [username], [password], [roleId], [roomId], [statusId]) VALUES (2, N'admin', N'000000', 1, NULL, 1)
INSERT [dbo].[tblUser] ([id], [username], [password], [roleId], [roomId], [statusId]) VALUES (3, N'worker', N'123', 2, NULL, 1)
INSERT [dbo].[tblUser] ([id], [username], [password], [roleId], [roomId], [statusId]) VALUES (4, N'user', N'123', 3, 1, 1)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblCategory_tblStatus] FOREIGN KEY([statusId])
REFERENCES [dbo].[tblStatus] ([id])
GO
ALTER TABLE [dbo].[tblCategory] CHECK CONSTRAINT [FK_tblCategory_tblStatus]
GO
ALTER TABLE [dbo].[tblDevice]  WITH CHECK ADD  CONSTRAINT [FK_tblDevice_tblCategory] FOREIGN KEY([categoryId])
REFERENCES [dbo].[tblCategory] ([id])
GO
ALTER TABLE [dbo].[tblDevice] CHECK CONSTRAINT [FK_tblDevice_tblCategory]
GO
ALTER TABLE [dbo].[tblDevice]  WITH CHECK ADD  CONSTRAINT [FK_tblDevice_tblRoom] FOREIGN KEY([roomId])
REFERENCES [dbo].[tblRoom] ([id])
GO
ALTER TABLE [dbo].[tblDevice] CHECK CONSTRAINT [FK_tblDevice_tblRoom]
GO
ALTER TABLE [dbo].[tblDevice]  WITH CHECK ADD  CONSTRAINT [FK_tblDevice_tblStatus] FOREIGN KEY([statusId])
REFERENCES [dbo].[tblStatus] ([id])
GO
ALTER TABLE [dbo].[tblDevice] CHECK CONSTRAINT [FK_tblDevice_tblStatus]
GO
ALTER TABLE [dbo].[tblRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblRequest_tblDevice] FOREIGN KEY([deviceId])
REFERENCES [dbo].[tblDevice] ([id])
GO
ALTER TABLE [dbo].[tblRequest] CHECK CONSTRAINT [FK_tblRequest_tblDevice]
GO
ALTER TABLE [dbo].[tblRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblRequest_tblStatus] FOREIGN KEY([statusId])
REFERENCES [dbo].[tblStatus] ([id])
GO
ALTER TABLE [dbo].[tblRequest] CHECK CONSTRAINT [FK_tblRequest_tblStatus]
GO
ALTER TABLE [dbo].[tblRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblRequest_tblUser] FOREIGN KEY([userId])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblRequest] CHECK CONSTRAINT [FK_tblRequest_tblUser]
GO
ALTER TABLE [dbo].[tblRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblRequest_tblUser_Worker] FOREIGN KEY([workerId])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblRequest] CHECK CONSTRAINT [FK_tblRequest_tblUser_Worker]
GO
ALTER TABLE [dbo].[tblRoom]  WITH CHECK ADD  CONSTRAINT [FK_tblRoom_tblStatus] FOREIGN KEY([statusId])
REFERENCES [dbo].[tblStatus] ([id])
GO
ALTER TABLE [dbo].[tblRoom] CHECK CONSTRAINT [FK_tblRoom_tblStatus]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblRole] FOREIGN KEY([roleId])
REFERENCES [dbo].[tblRole] ([id])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblRole]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblRoom] FOREIGN KEY([roomId])
REFERENCES [dbo].[tblRoom] ([id])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblRoom]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblStatus] FOREIGN KEY([statusId])
REFERENCES [dbo].[tblStatus] ([id])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblStatus]
GO
/****** Object:  StoredProcedure [dbo].[test]    Script Date: 11/7/2020 10:09:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[test] 
as 
declare @ID int
select @ID = id from tblCategory
return @ID
GO
USE [master]
GO
